<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <div class="jumbotron">
        <h1>상품 등록</h1>
        <p class="lead">상품 종류</p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/book/new">도서</a>
            <a class="btn btn-lg btn-secondary" href="/movie/new">영화</a>
            <a class="btn btn-lg btn-secondary" href="/album/new">음반</a>
        </p>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>